   * {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            box-sizing: border-box; 
        }
    body{
        margin: 0px;
    }
    header{
        background: rgb(76, 166, 140);
        margin: 0px;
        height: 100%;
        padding: 30px 200px;
        color: white;
    }
    box{
        display: inline-block;
        gap: 0;
    }
   .box1{
       display: inline-block;
       margin: 20px;
       padding: 10px;
       width: 28%;
       text-align: center;
   }
    .box2{
       display: inline-block;
       margin: 5px;
       width: 23%;
       padding: 0;
       text-align: center;
   }
    h1{
        font-weight: 750;
        color: white;
    }
    button{
        display: inline-block;
        background: rgb(133, 212, 189);
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 40px;
        padding-left: 40px;
        align-content: center;
        margin-right: -5px;
        margin-left: -5px;
        border: none;
        font-weight: 650;
        font-size: 12px;
    }
    .cinza{
        background: rgb(240, 240, 240);
        align-content: center;
        padding: 30px 200px;
    }
    h2{
        font-weight: 900;
        font-size: 30px;
    }
    h3{
        font-weight: 900;
        font-size: 25px;
    }
    h4{
        font-weight: 700;
        font-size: 18px;
    }
    h5{
        font-weight: 750;
        color: white;
        font-size: 20px;
    }
    h6{
        font-weight: 750;
        color: white;
        font-size: 50px;
    }
    .branca{
        padding: 30px 150px;
        display: inline-block;
    }
    button2{
        display: inline-block;
        background: rgb(76, 166, 140);
        width: 10vw;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        align-content: center;
        margin-top: 20px 
        margin-left: 0px;
        margin-bottom: 20px 
        margin-right: 0px;
        border: none;
        font-weight: 700;
        font-size: 15px;
        color: white;
        text-align: center;
    }
    .circle {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            background-color: rgb(76, 166, 140);
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 13px;
            color: white;
        }
    footer{
        background: rgb(76, 166, 140);
        margin: 0px;
        height: 100%;
        padding: 50px 150px;
        color: white;
    }
    content{
        display: inline-block;
        padding: 20px;
    }
    .box3{
       display: inline-block;
       width: 40px;
       height: 40px;
       text-align: center;
       background: rgb(133, 212, 189);
       padding: 6px;
   }
    img {
    width: 100%;
    height: auto; 
    }
.glyphicon {
  color: white; 
  font-weight: 700; 
  text-decoration: none; 
  vertical-align: middle;
  width: 50px;
}

