@media (max-width: 540px)
{
cartao {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-weight: 1000;
  font-size: 40px;
}
link {
  color: purple;
}
img{
  width: 100%;
}
cinza{
  background: #d0d5db;
  content-align: center;
  margin: 0px;
}
}
@media (min-width: 540px)
{
  cartao {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
}
h1 {
  font-weight: 1000;
  font-size: 40px;
}
link {
  color: purple;
}
img{
  width: 40%;
}
cinza{
  background-color: #d0d5db;
  content-align: center;
  margin: 0px;
  width: 100%;
}
texto{
  padding: 10px;
  
}
