.card {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      max-width: 600px;
      margin: 20px auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-image img {
      width: 10%;
    }

    .card-content {
      padding: 20px;
      background-color: #f9f9f9;
    }

    @media (max-width: 540px) {
      .card {
        flex-direction: column;
      }
      .card-content {
        order: 2;
      }
    }
      .cinza{
            order: 1;
            width: 100%;
            background-color: #d9d6ce;
            heigth: 100%;
      }
    @media (min-width: 541px) {
      .card {
        flex-direction: row;
      }


      .card-content {
        width: 60%; 
        padding: 20px;
      }
      .cinza{
            width: 40%;
            background-color: #d9d6ce;
            padding: 40px;
            height: 100%;
      }
    }
