    body {
          margin: 0px;
    }
    .font {
            font-size: 23px;
            font-family: Georgia,Times,Times New Roman,serif; 
        }
    .font1 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 70px;
            font-weight: bold;
        }
    .font2 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 20px;
            font-weight: bold;
        }
    .font3 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 45px;
            font-weight: bold;
        }
    .font4 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 35px;
            font-weight: bolder;
        }
    button {
                background: rgb(195, 195, 195);
                border-radius: 5px;
                display: inline-block;
                border: 1px;
                cursor: pointer;
                width: 80px;
                text-align: center;
                margin: 30px;
                padding: 5px;
                float: center;
                box-sizing: border-box;
                font-weight: 1000;
                font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
                color: black;
        }
    button1 {
            position: relative; 
            width: 8vw; 
            height: 8vw;
            border: none; 
            overflow: hidden;
            margin: 10px;
            border-radius: 50%;
            float: left;
            text-align: center;
            align-items: center;
            cursor: pointer;
            padding: 3px;
        }

        .button1::before {
            content: ""; 
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            z-index: 0;
        }

        .content {
            position: relative; 
            color: black; 
            z-index: 1; 
            padding: 20px; 
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .background {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            background-image: url('https://i.pinimg.com/originals/a5/47/f0/a547f04d78e581fbaba0288ab254266a.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .background2 {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            background-image: url('https://i.pinimg.com/originals/84/6a/d2/846ad2cfbd3636e77ef18fcfc90dc20a.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .background3 {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            background-image: url('https://i.pinimg.com/originals/7f/99/21/7f992138761981667081ba2c4faf8178.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .background4 {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            background-image: url('https://i.pinimg.com/originals/44/78/34/4478347e75624608ffe8b61f10720f30.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .background5 {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            background-image: url('https://i.pinimg.com/originals/a3/ba/67/a3ba677f1d054642f5403e150300357f.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .background6 {
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3; 
            background-image: url('https://i.pinimg.com/1200x/0b/46/d1/0b46d16cb02505766b53fa13bd9bd63f.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }
        .box1 {
            width: 100px;
            height: 100px;
            border: none; 
            overflow: hidden;
            padding: 40px;
            border-radius: 20px;
            float: left;
        }
  .box2 {
            width: 100px;
            height: 100px;
            border: none; 
            overflow: hidden;
            padding: 40px;
            border-radius: 20px;
            float: center;
        }


  .box3 {
            width: 100px;
            height: 100px;
            border: none; 
            overflow: hidden;
            padding: 40px;
            border-radius: 20px;
            float: right;
        }
  header{
    margin: 0px;
    padding: 50px;
    background: #cf9bcc;
    text-align: center;
  }
  main{
    background: rgb(245, 247, 244);
    padding: 50px;
    margin: 0px;
    height: 60vw;
  }
    .linha {
            height: 10px; 
            background-color: rgb(115, 147, 179); 
            margin: 0px; 
            width: 100%;
            vertical-align: bottom;
    }
  .container {
            width: 100%;
            display: flex;
        }
.boxes {
            display: flex; 
            justify-content: space-between; 
            gap: 15px;
            margin: 30px;
        }
    boxl {
                color: black;
                border: none;
                cursor: pointer;
                width: 30vw;
                height: 25vw;
                text-align: center;
                margin: 10px;
                padding: 50px;
                float: left;
                box-sizing: border-box;
                flex: 1;
                display: inline-block;
                align-items: center; 
                justify-content: center; 
                overflow-wrap: break-word;
            }
        boxm{
                color: black;
                border: none;
                cursor: pointer;
                width: 30vw;
                height: 25vw;
                text-align: center;
                margin: 10px;
                padding: 50px;
                float: center;
                flex: 1;
                box-sizing: border-box;
                display: inline-block; 
                align-items: center; 
                justify-content: center;     
                overflow-wrap: break-word;
            }
          boxr{
                color: black;
                border: none;
                cursor: pointer;
                width: 30vw;
                height: 25vw;
                text-align: center;
                margin: 10px;
                padding: 50px;
                float: right;
                flex: 1;
                box-sizing: border-box;
                display: inline-block;
                align-items: center; 
                justify-content: center; 
                overflow-wrap: break-word; 
            
            }
