  body {
  margin: 0px;
  }
    .font {
            font-size: 26px;
            font-family: Georgia,Times,Times New Roman,serif; 
        }
    .font1 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 70px;
            font-weight: bold;
        }
    .font2 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 16px;
            font-weight: bold;
        }
    .font3 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 45px;
            font-weight: bold;
        }
    .font4 {
            font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
            font-size: 30px;
            font-weight: bolder;
        }
    button {
                background-color: white; 
                border-radius: 5px;
                display: inline-block;
                border-style: solid;
                border-width: 5px;
                border-color: black;
                cursor: pointer;
                width: 80px;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 5px;
                float: left;
                box-sizing: border-box;
                font-weight: 1000;
                font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
                color: black;
        }
        .container {
            position: relative; 
            width: 70%; 
            border: none; 
            overflow: hidden;
            margin: 30px;
            padding: 40px;
            border-radius: 20px;
            float: center;
        }

        .container::before {
            content: ""; 
            position: absolute; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(245, 247, 244); 
            z-index: 0; 
        }

        .content {
            position: relative; 
            color: black; 
            z-index: 1; 
            padding: 20px; 
            box-sizing: border-box; 
        }
    main{
    margin: 0px;
    padding: 50px;
    background: #cf9bcc;
    text-align: center;
    }
    header{
    background: rgb(245, 247, 244);
    padding: 50px;
    margin: 0px;
    text-align: center;
    }
      .linha {
            height: 10px; 
            background-color: rgb(115, 147, 179); 
            margin: 0px; 
            width: 100%;
            vertical-align: bottom;
      }
